# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*.intf

# The loopback network interface
auto lo
iface lo inet static
    address {{ lo_address }}

# The loopback for RP and PIM
auto lo1
iface lo1 inet static
    pre-up ip link add lo1 type dummy
    post-down ip link delete lo1 type dummy
    address {{ lo1_address }}

# The primary network interface
auto eth0
iface eth0 inet dhcp
    vrf mgmt

auto mgmt
iface mgmt
    address 127.0.0.1/8
    address ::1/128
    vrf-table auto

{% for interface in interfaces %}
auto {{ interface.name }}
iface {{ interface.name }} inet static
    address {{ interface.address }}
    mtu 9050
{% endfor %}
