# /templates/interfaces-vms.j2

{% for interface in interfaces %}
auto {{ interface.name }}
iface {{ interface.name }} inet static
    address {{ interface.address }}
    netmask {{ interface.netmask }}
    mtu 1500
{% if interface.gateway %}
    gateway {{ interface.gateway }}
    metric 200
{% endif %}
{% if interface.routes %}
{% for route in interface.routes %}
    up ip route add {{ route.subnet }} via {{ interface.gateway }}
{% endfor %}
{% endif %}
{% endfor %}