# /templates/interfaces-vms.j2

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
allow-hotplug eth0
iface eth0 inet dhcp

{% for interface in interfaces %}
auto {{ interface.name }}
iface {{ interface.name }} inet static
    address {{ interface.address }}
    netmask {{ interface.netmask }}
    mtu 9050
{% if interface.gateway is defined and interface.routes[0] is defined %}
    gateway {{ interface.gateway }}
{% endif %}
{% if interface.routes[0] is defined %}
{% for route in interface.routes %}
    up ip route add {{ route.subnet }} via {{ interface.gateway }}
{% endfor %}
{% endif %}
{% endfor %}
