# Loopback for routing
auto lo
iface lo inet loopback
{% if lo_address is defined %}
    up   ip addr add {{ lo_address }} dev lo
    down ip addr del {{ lo_address }} dev lo
{% endif %}

{% for interface in interfaces %}
auto {{ interface.name }}
iface {{ interface.name }} inet static
    address {{ interface.address }}
    mtu 1500
{% endfor %}
