# Loopback for routing
auto lo
iface lo inet loopback
{% if lo_address is defined %}
    up   ip addr add {{ lo_address }} dev lo
    down ip addr del {{ lo_address }} dev lo
{% endif %}

{% for interface in interfaces %}
# Interface connected to {{ interface.connected_to }}
auto {{ interface.name }}
iface {{ interface.name }} inet static
    address {{ interface.address }}
    mtu 1500
{% if interface.vrf is defined %}
vrf {{ interface.vrf}}
{% endif %}
{% endfor %}

# Defining the vrfs
{% if vrfs[0] is defined %}
{% for vrf in vrfs %}
auto {{ vrf.id }}
iface {{ vrf.id }}
    vrf-table auto
{%   endfor %}
{%   endif %}

# VLAN configurations
{% for vlan in vlans %}
auto vlan{{ vlan.id }}
iface vlan{{ vlan.id }}
    vlan-id {{ vlan.id }}
    vlan-raw-device vmbr0
    mtu 1500
{%   if vlan.vrf is defined %}
    vrf {{ vlan.vrf }}
{%   endif %}
{%   if vlan.ip is defined %}
    address {{ vlan.ip }}
{%   endif %}
{% endfor %}

# VXLAN configurations
{% for vxlan in vnix %}
auto vxlan{{ vxlan.id }}
iface vxlan{{ vxlan.id }}
    bridge-access {{ vxlan.rt }}
    bridge-learning off
    bridge-arp-nd-suppress on
    mtu 1500
    vxlan-id {{ vxlan.id }}
{% endfor %}

# One bridge to rule them all
auto vmbr0
iface vmbr0
    bridge-ports {{ vnix | map(attribute='id') | map('regex_replace', '^', 'vxlan') | join(' ') }}
    bridge-vids {{ vnix | map(attribute='id') | join(' ') }}
    bridge-stp off
    bridge-vlan-aware yes
    mtu 1500


