frr defaults datacenter
hostname {{ ansible_hostname }}
service integrated-vtysh-config
!
router ospf
 ospf router-id {{ router_id }}
 {% for network in ospf_networks %}
 network {{ network.subnet }} area 0
 {% endfor %}
!
router bgp {{ asn }}
 neighbor TO_LEAFS peer-group
 neighbor TO_LEAFS remote-as {{ asn }}
 neighbor TO_LEAFS update-source lo
 neighbor TO_LEAFS capability extended-nexthop
 {% for leaf in groups['leaves'] %}
 neighbor {{ hostvars[leaf].router_id }} peer-group TO_LEAFS
 {% endfor %}
 !
 address-family ipv4 unicast
  neighbor TO_LEAFS route-reflector-client
 exit-address-family
 !
 address-family l2vpn evpn
  neighbor TO_LEAFS activate
  neighbor TO_LEAFS route-reflector-client
  advertise-all-vni
 exit-address-family
exit
!
