# Base Debian interfaces for spines
auto lo
iface lo inet static
    address {{ lo_address }}

{% for interface in interfaces %}
# Fabric link connected to {{ interface.connected_to | default(interface.name) }}
auto {{ interface.name }}
iface {{ interface.name }} inet static
    address {{ interface.address }}
    mtu 9050
{% endfor %}