{% for iface in interfaces %}
# {{ iface.name }} connected to {{ iface.connected_to | default("unknown") }}
auto {{ iface.name }}
iface {{ iface.name }} inet static
    address {{ iface.address }}
    netmask {{ iface.netmask }}
    mtu 9050
{% if iface.routes %}
{%   for r in iface.routes %}
    up   ip route add {{ r.subnet }} via {{ iface.gateway }} || true
    down ip route del {{ r.subnet }} via {{ iface.gateway }} || true
{%   endfor %}
{% endif %}
{% endfor %}