# /templates/interfaces-leaves.j2

source /etc/network/interfaces.d/*.intf

# The loopback network interface
auto lo
iface lo inet static
    address {{ lo_address }}

# The primary network interface
auto eth0
iface eth0 inet dhcp
    vrf mgmt

auto mgmt
iface mgmt
    address 127.0.0.1/8
    address ::1/128
    vrf-table auto

{% for interface in interfaces %}
# Interface connected to {{ interface.connected_to }}
auto {{ interface.name }}
iface {{ interface.name }} inet static
    address {{ interface.address }}
    mtu 9050
{% if interface.vrf is defined %}
vrf {{ interface.vrf}}
{% endif %}
{% endfor %}

# Defining the vrfs
{% if vrfs[0] is defined %}
{% for vrf in vrfs %}
auto {{ vrf.id }}
iface {{ vrf.id }}
    vrf-table auto
{%   endfor %}    
{%   endif %}

# VLAN configurations
{% for vlan in vlans %}
auto vlan{{ vlan.id }}
iface vlan{{ vlan.id }}
    vlan-id {{ vlan.id }}
    vlan-raw-device vmbr0
    mtu 9050
{%   if vlan.vrf is defined %}
    vrf {{ vlan.vrf }}
{%   endif %}
{%   if vlan.ip is defined %}
    address {{ vlan.ip }}
{%   endif %}
{% endfor %}

# VXLAN configurations
{% for vxlan in vnix %}
auto vxlan{{ vxlan.id }}
iface vxlan{{ vxlan.id }}
    bridge-access {{ vxlan.rt }}
    bridge-learning off
    bridge-arp-nd-suppress on
    mtu 9050
    vxlan-id {{ vxlan.id }}
{% endfor %}

# One bridge to rule them all
auto vmbr0
iface vmbr0
    bridge-ports {{ vnix | map(attribute='id') | map('regex_replace', '^', 'vxlan') | join(' ') }}
    bridge-vids {{ vnix | map(attribute='id') | join(' ') }}
    bridge-stp off
    bridge-vlan-aware yes
    mtu 9050


